.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .mt {
      margin-top: 20px;
  }

  .text-presentation {
      font-size: 20px;
      justify-content: center;
  }

  .prueba {
      width: 90%;
  }

  .button-send {
    text-align: center;
  }

  .facebook-button {
    color: #fff;
    background-color: #4267B2;
  }

  .instagram-button {
    color: #fff;
    background-color: #E1306C;
  }

  .twitter-button {
    color: #fff;
    background-color: #00acee;
  }

  .button-width {
      width: 200px;
  }
  